@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}
body{
    background-color: lightgray;    
}
header{
    background-color: rgba(255, 255, 0, 0.404);
}
 h1 {
    text-align: center;
    
   padding: 10px;
   
}

.material-symbols-outlined {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(235, 235, 4);
    color: rgb(0, 0, 0);
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}
.material-symbols-outlined:hover {
    background-color: rgb(118, 118, 8);
    color: white;
}


menu{
    display: none;
    text-align: center;
    
    background-color: rgba(255, 255, 0, 0.404);
}
menu > ul  {
 list-style-type: none  ;
}
 a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: 2px solid rgb(246, 2, 2);
}
a:hover{
   background-color: lightgoldenrodyellow;
}
article{
    text-align: justify;
    text-indent: 10px;
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
h2{
    text-align: center;
    padding-bottom: 20px;
}
p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}